.button{
  font-size:28px;
  border:none;
  height:50px;
  padding:16px 40px 16px 40px;
  border-radius:5px;
    box-shadow:0px 10px 0px 0px #1d7f8a, 
      0px 0px 10px 0px rgba(120, 120, 120, 0.4);
  color:white;
  background:#239dab;
  cursor:pointer;
  transition:all 0.16s;
  position:relative;
  top:0;
}
.button:focus{
  outline:none;
}
.button:active{
  box-shadow: 0px 5px 0px 0px #1d7f8a;
  top:5px;
}

.button.red{
  background:#d03651;
  box-shadow:0px 10px 0px 0px #a72b41,
    0px 0px 10px 0px rgba(120, 120, 120, 0.4);;
}

.button.red:active{
  box-shadow: 0px 5px 0px 0px #a72b41;
}

